<!DOCTYPE html>

<html>
    <head>
        <title>Echo Echo Form Form</title>
    </head>
    <body>
        <!-- When the form is submitted, redirect the user to ./echo -->
        <form action="/echo" method="POST">
            <h4 style="margin-bottom: 0px;">Enter a username here:</h4>
            <!-- The name of the username input is "username" -->
            <input type="text" name="username" value="" placeholder="Username"/>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>